.App {
  text-align: center;
  padding: 0 7vw 30px 7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (min-width: 1152px) {
  .App {
    flex-wrap: nowrap;
    gap: 65px;
  }
}
